{% extends 'base.html' %}
{% block content %}


    <div class="container-fluid py-4">
      <div class="row mt-4">
        <div class="row mt-2 mb-3">
          <h4>Información Actual para 
            <select id="anio-select">
            <option value="2025">2025</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>            
            <!-- Agrega otros años según tus necesidades -->
            </select>

            <select id="mes-select">
              <option value="1">Enero</option>
              <option value="2">Febrero</option>
              <option value="3">Marzo</option>
              <option value="4">Abril</option>
              <option value="5">Mayo</option>
              <option value="6">Junio</option>
              <option value="7">Julio</option>
              <option value="8">Agosto</option>
              <option value="9">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </h4>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              
                <p class="text-sm mb-0 text-capitalize">PAGOS:
                  <!-- Select para el mes -->
                </p>
                               
                <h4 class="mt-2">
                  <span id="total-ingreso">$ </span>
                </h4>              
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              
                <p class="text-sm mb-0 text-capitalize">GASTOS:
                </p>                
                  <h4 class="mt-2">
                  <span id="total-egreso">$ </span>
                </h4>              
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Usuarios en Mora</p>
                <h4 class="mb-0">
                  {% if suscribers_con_facturas_vencidas %}
                    {{suscribers_con_facturas_vencidas }}</h4>
                  {% else %}
                  0
                  {% endif %}
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
          </div>
        </div> -->
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Saldo actual en Caja</p>
                <h4 class="mt-2">
                {% if current_balance %}
                  {{current_balance }}</h4>
                {% else %}
                0
                {% endif %}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="row mt-2 mb-3">
          <button id="get-income">Consultar</button>
          
        </div>
      </div>

      <div class="row mt-4">
        <div class="row mt-2 mb-3">
            <h4>Accesos Directos</h4>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="text-center pt-1">
                <h4 class="text-md mb-0 text-capitalize">Emitir Facturas Masivas</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer text-center p-3">
                <a href="{% url 'payments:invoice_list' %}" class="btn btn-success"><span class="fa fa-list"></span> Emitir</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="text-center pt-1">
                <h4 class="text-md mb-0 text-capitalize">Registrar Pagos</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer text-center p-3">
                <a href="{% url 'payments:search_suscriber' %}" class="btn btn-warning"><span class="fa fa-money"></span> Pagar</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="text-center pt-1">
                <h4 class="text-md mb-0 text-capitalize">Asociados en Mora</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer text-center p-3">
                <a href="{% url 'transversal:suscribers_delinquent' %}" class="btn btn-danger"><span class="fa fa-exclamation-triangle"></span> Buscar</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="text-center pt-1">
                <h4 class="text-md mb-0 text-capitalize">Listar Asociados</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer text-center p-3">
                <a href="{% url 'transversal:suscriber_list' %}" class="btn btn-warning"><span class="fa fa-eye"></span> Ver</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Ingresos</h6>
              <p class="text-sm ">En el año 2023</p>
              <hr class="dark horizontal">

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Gastos </h6>
              <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) en el 2023 </p>
              <hr class="dark horizontal">

            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Morosos</h6>
              <p class="text-sm ">en el 2023</p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div> -->
      {% if projects %}
      <div class="row">
                  <div class="col-12 mt-4">
              <div class="mb-5 ps-3">
                <h6 class="mb-1">Proyectos</h6>
                <p class="text-sm">Listado de proyectos</p>
              </div>
              <div class="row">
                {% for project in projects %}
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="card-header p-0 mt-n4 mx-3">
                      <a class="d-block shadow-xl border-radius-xl">
                        <img src="/media/{{project.header_image}}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                      </a>
                    </div>
                    <div class="card-body p-3">
                      <p class="mb-0 text-sm"></p>
                      <a href="javascript:;">
                        <h5>
                          {{project.title_project}}
                        </h5>
                      </a>
                      <p class="mb-4 text-sm">
                        {{project.descrption_project | safe}}
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a type="button" class="btn btn-outline-primary btn-sm mb-0" href="" target="_blank">Editar Información</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
      </div>
      {% endif %}
    </div>


{% endblock %}

{% block javascript %}
<script>
  $('#get-income').click(function() {
      var mes = $('#mes-select').val();
      var anio = $('#anio-select').val();

      $.ajax({
          url: "{% url 'transversal:monthly_income' %}",
          data: {
              'mes': mes,
              'anio': anio
          },
          success: function(response) {
              $('#total-ingreso').text(response.total_ingreso);
              $('#total-egreso').text(response.total_egreso);
          },
          error: function(xhr, status, error) {
              console.log("Error en la solicitud:", error);
          }
      });
  });
</script>
{% endblock %}