{% extends 'base_home.html' %}
{% load static %}


{% block content_home %}
    <div class="wrapper">
        <div class="parallax filter-gradient">
            <div class="parallax-background">
                <img class ="parallax-background-image" src="/media/{{home_page.parallax_background}}">
            </div>
            {% if home_page.paralax_image_cover %}
            <div class= "container">
                <div class="row">
                    <div class="col-md-7  hidden-xs">
                        <div class="parallax-image">
                            <img  class="phone" src="/media/{{home_page.paralax_image_cover}}"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="description text-center">
                            <h2>{{home_page.title_banner}} </h2>
                            <br>
                            <h5>{{home_page.description_banner}}</h5>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="section section-gray section-clients">
            <div class="container text-center">
                <h4 class="header-text">{{home_page.title_block_about}}</h4>
                <p>
                    {{home_page.descrption_block_about |safe}}
                </p>
            </div>
        </div>
        {% if projects %}
        <div class="section section-features">
            <div class="container">
                <h4 class="header-text text-center">Proyectos</h4>
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-6">
                        <div class="card card-blue">
                            <img class="card-img-top" width="450px" height="380px" src="/media/{{project.header_image}}" alt="Imagen de {{project.title_project}}">
                            <div class="card-body">
                                <h5 class="card-title">{{project.title_project}}</h5>
                                <p class="card-text">{{project.descrption_project | safe}}</p>
                                {% if project.pdf_file %}
                                <a target="_blank" href="{{project.pdf_file.url}}" class="btn btn-primary">Descargar Información</a>
                                {% endif %}
                            </div>              
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if reports %}
        <div class="section section-no-padding">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class ="parallax-background-image" src="{% static '/img/fondo-agua-demo.jpg' %}">
                </div>
                <div class="info">
                    <h1>Conoce los informes de gestión!</h1>
                    <p>Conoce los reportes de Gestión Operativos y Financieros.</p>
                    
                    <a href="#" class="btn btn-neutral btn-lg btn-fill">Descargar</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}