
    
{% extends 'base_home_prehome.html' %}
{% load static %}
{% block content_home %}
    
        <div class="parallax filter-gradient orange" data-color="orange">
            {% if pre_home %}
            <div class="parallax-background">
                <img class="parallax-background-image" src="/media/{{pre_home.parallax_background}}">
            </div>
            <div class= "container">
                <div class="row">
                    {% if pre_home.position_image == "right" %}
                    <div class="col-md-7">
                        <div class="description">
                            <h2>{{pre_home.title_banner}}</h2>
                            <br>
                            <h5>{{pre_home.description_banner}}</h5>
                        </div>

                    </div>
                    <div class="col-md-5  hidden-xs">
                        <div class="parallax-image">
                            <img class="phone" src="/media/{{pre_home.paralax_image_cover}}"/>
                        </div>
                    </div>
                    {% elif pre_home.position_image == "left" %}
                    <div class="col-md-5  hidden-xs">
                        <div class="parallax-image">
                            <img class="phone" src="/media/{{pre_home.paralax_image_cover}}"/>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="description">
                            <h2>{{pre_home.title_banner}}</h2>
                            <br>
                            <h5>{{pre_home.description_banner}}</h5>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class= "container">
                <div class="row">
                    <div class="description">
                        <p>Ups!... Parece que algo falta aquí... Informe al administrador general del sistema</p>
                    </div>
                </div>
            </div>              
            {% endif %}
        </div>
        <div class="section section-gray section-clients">
            <div class="container text-center">
                <h4 class="header-text">{{pre_home.title_block_about}}</h4>
                <p>
                   {{ pre_home.descrption_block_about|safe  }}
                </p>

            </div>
        </div>
        {% if block_positions %}
        <div class="section section-presentation">
            <div class="container">
                {% for block in block_positions %}
                <div class="section"></div>
                    <div class="row mb-4 align-items-center">
                        {% if block.position_image == "right" %}
                        
                            <div class="col-md-7">
                                <div class="description">
                                    <h4 class="header-text">{{ block.title_block }}</h4>
                                    <p>{{ block.description_block|safe }}</p>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center">
                                <div class="image-container">
                                    <img src="/media/{{ block.image_aside_block }}">
                                </div>
                            </div>
                        
                        {% elif block.position_image == "left" %}
                            <div class="col-md-5 d-flex justify-content-center">
                                <div class="image-container">
                                    <img src="/media/{{ block.image_aside_block }}">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="description">
                                    <h4 class="header-text">{{ block.title_block }}</h4>
                                    <p>{{ block.description_block|safe }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        {% endif %}
        
        {% if block_features %}
        <div class="section section-features">
            <div class="container">
                <h4 class="header-text text-center">Características</h4>
                <div class="row">
                    {% for feature in block_features %}
                    <div class="col-md-4">
                        <div class="card card-orange">
                            <div class="icon">
                                <img class="phone"  src="/media/{{feature.logo_feature}}"/>
                            </div>
                            <div class="text">
                                <h4> {{feature.title_feature}}</h4>
                                <p>{{feature.description_feature | safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if block_customers %}
        <div class="section section-features">
            <div class="container">
                <h4 class="header-text text-center">Nuestros Clientes</h4>
                <div class="row">
                    {% for customer in block_customers %}
                    <div class="col-md-3">
                        <div class="card card-blue">
                            <a href="{% url 'common:homepage' customer.id %}" target="_blank">
                            <div class="icon">
                                
                                    <img class="phone"  src="/media/{{customer.logo_company}}"/>
                                
                                <div class="text">
                                    <h4> {{customer.name_company}}</h4>
                                </div>
                                
                            </div>
                        </a>
        
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}
        {% block content_footer %}
        <footer class="footer">
            <hr>
            <div class="copyright">
                <p>Desarrollado por:  Net Comunicaciones ISP</p>
                &copy; 2024
                <p><a href="https://api.whatsapp.com/send/?phone=+573196436335&text=Estoy interesado en el software de gestión administrativa" class="text-primary text-gradient font-weight-bold">Solicitar Cuenta Demostrativa</a></p>                              
            </div>
            </div>
        </footer>
    {% endblock %}
    

    
