{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('{% static 'img/fondo-agua-paisaje.jpg' %}');">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row">
          <div class="card-header pb-0 p-3">
              <table style="width: 100%;">
                <tr>
                    <td style="width: 48%; vertical-align: top;">
                        <!-- Contenido de la columna izquierda -->
                        <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                            Recibo del Agua para: {{ invoice.suscriber.name_suscriber }} {{ invoice.suscriber.last_name_suscribe }}
                        </h2>
                    </td>
                    <td style="width: 48%; vertical-align: top; text-align: right;">
                        <!-- Contenido de la columna derecha -->
                        <h1 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                            Asociación de usuarios Colectivos Asobotapa
                        </h1>
                    </td>
                </tr>
            </table>
          </div>
          <div class="col-12 col-xl-12">
                <div class="table-responsive p-0">
                    <table class="table table-bordered table-striped align-items-center mb-0">
                        <thead>
                        <tr style="text-align:center; font-size:13px" class="table-primary">
                            <th scope="col">Documento</th>
                            <th scope="col">Sector o Vereda:</th>
                            <th scope="col">Finca</th>
                            <th scope="col">Teléfono:</th>
                            <th scope="col">Documento <br>generado el:</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center; font-size:13px">
                                <td>{{ invoice.suscriber.document_type }} {{ invoice.suscriber.identification_number }}</td>
                                <td>{{invoice.suscriber.sector_suscriber}}</td>
                                <td>{{ invoice.suscriber.name_farm }}</td>
                                <td>{{ invoice.suscriber.telephone }}</td>
                                <td>{{ invoice.issuance_date }}</td>
                            </tr>
                    </tbody>
                    </table>
                </div>
          </div>
        </div>

        <div class="row">     
          <div class="card-header pb-0 p-3">
                <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Información de pago:
                </h2>
          </div>
          <div class="col-12 col-xl-12">
            <div class="table-responsive p-0">
              <table class="table table-bordered align-items-center mb-0">
                  <thead>
                  <tr  style="text-align:center; font-size:13px" class="table-success">
                    <th scope="col">Año</th>
                    <th scope="col">Periodo Actual <br> (Bimensual)</th>
                    <th scope="col">Valor X Acción Mensual</th>
                    <th scope="col">Tarifa Mensual</th>
                    <th scope="col">Saldos pendientes <br> por Concepto de Compra <br> de Acciones</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Estado del Pago</th>
                    <th scope="col">Estado de Factura</th>                       
                  </tr>
                  </thead>
                    <tbody >
                        <tr style="text-align:center; border:1px solid black; height=70px; font-size:13px">
                            <td>{{ invoice.issuance_date }}</td>
                            <td>{{ invoice.period_to_pay }} </td>
                            <td>{% for action in invoice.suscriber.affiliated_shares.all %}
                                {{ action.value_action }}
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ invoice.monthly_value_to_pay}} </td>
                            <td>{{ invoice.pending_balance }} <br> </td>
                            <td>{{ invoice.total_amount }}</td>
                            <td>{% if invoice.payment_status %}
                                    {% if invoice.payment_status == 'pending' %}
                                        Pendiente
                                    {% elif invoice.payment_status == 'paid' %}
                                        Pagado
                                    {% elif invoice.payment_status == 'expired' %}
                                        Vencido
                                    {% endif %}
                                {% else %}
                                    <!-- Manejo del caso en que last_payment_status es None -->
                                    Sin Información
                                {% endif %}
                            </td>
                            <td>
                                {% if invoice.invoice_status == 'invoice_valid' %}
                                Emitida
                                {% elif invoice.invoice_status == 'invoice_cancelled' %}
                                Anulada
                                {%endif%}
                            </td>
                        </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">     
          <div class="card-header pb-0 p-3">
                <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Notas Importantes::
                </h2>
                <p style="text-align:center; border:1px solid black; font-size: 13px; font-family: 'Open Sans', sans-serif;"> 
                Éste recibo vence el {{ invoice.expiration_date }}. Luego de pasado 4 Meses sin cancelar se debe Suspender el servicio.
                <br>                
</p>
          </div>
        </div>
    </div>
</div>



  

{% endblock %}
