{% extends 'base.html' %}

{% block content %}
    <!-- Pantilla -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="text-white text-capitalize ps-3 mt-2">Historico de Facturas Por Suscriptor:  
                                    {{ suscriber.name_suscriber}} {{ suscriber.last_name_suscribe}} 
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not invoices %}
                    <div class="mt-2 p-2">
                        <p>No hay facturas emitidas</p>
                    </div>
                    {% else %}
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table id="datatable" class="table align-items-center mb-0">
                                    <thead>
                                    <tr style="text-align:center; font-size:13px">
                                        <th>Factura</th>
                                        <th>Fecha Emisión</th>
                                        <th>Periodo</th>
                                        <th>Monto</th>
                                        <th scope="col">Estado del Pago</th>
                                        <th scope="col">Estado de Factura</th>  
                                        <th>Fecha <br> Pago</th>
                                        <th class="all">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for invoice in invoices %}
                                        <tr style="text-align:center; font-size:13px">
                                            <td>{{ invoice.id }} - {{invoice.suscriber.name_suscriber}}</td>
                                            <td>{{ invoice.issuance_date }}</td>
                                            <td>{{ invoice.period_to_pay }}</td>
                                            <td>{{ invoice.total_amount }}</td>
                                            <td>{% if invoice.payment_status %}
                                                    {% if invoice.payment_status == 'pending' %}
                                                        Pendiente
                                                    {% elif invoice.payment_status == 'paid' %}
                                                        Pagado
                                                    {% elif invoice.payment_status == 'expired' %}
                                                        Vencido
                                                    {% endif %}
                                                {% else %}
                                                    <!-- Manejo del caso en que last_payment_status es None -->
                                                    Sin Información
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if invoice.invoice_status == 'invoice_valid' %}
                                                Emitida
                                                {% elif invoice.invoice_status == 'invoice_cancelled' %}
                                                Anulada
                                                {%endif%}
                                            </td>
                                            <td>{% if invoice.last_payment_date %}
                                                {{ invoice.last_payment_date }}
                                                {%else%}
                                                No registra
                                                {% endif%}
                                            </td> 
                                            <td>                                             
                                                <div class="d-flex align-items-center">
                                                  <a href="{% url 'payments:view_invoice_detail' invoice.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                                      <i class="far fa-eye"></i>
                                                  </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Inicializar DataTable
        var table = $('#datatable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "language": {
                "decimal": ",",
                "thousands": ".",
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        const btn_delete = document.querySelectorAll("#btn_delete")
        btn_delete.forEach(btn => {
          btn.addEventListener('click' , function(event){
            const data_target_delete = btn.getAttribute("data-target-delete")
            const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const fullUrl = `${window.location.origin}${data_target_delete}`;

            Swal.fire({
                title: "Está seguro de eliminar El Inventario?",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "Eliminar",
                denyButtonText: `Cancelar`
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                        // Realiza la solicitud AJAX
                        fetch(data_target_delete, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': csrf_token,
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire("Inventario eliminado exitosamente", "", "success")
                                    .then(() => {
                                        window.location.href = '{{ success_url }}';
                                    });
                            } else {
                                Swal.fire("Error al eliminar el Inventario", data.message, "error");
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire("El Inventario no fue Eliminado", "", "info");
                    }
              });
          })
        })
    });
</script>
{% endblock %}

