{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('{% static 'img/fondo-agua-paisaje.jpg' %}');">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row">
          <div class="card-header pb-0 p-3">
              <table style="width: 100%;">
                <tr>
                    <td style="width: 48%; vertical-align: top;">
                        <!-- Contenido de la columna izquierda -->
                        <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                            Recibo del Agua para: {{ suscriber.name_suscriber }} {{ suscriber.last_name_suscribe }}
                        </h2>
                    </td>
                    <td style="width: 48%; vertical-align: top; text-align: right;">
                        <!-- Contenido de la columna derecha -->
                        <h1 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                            Asociación de usuarios Colectivos Asobotapa
                        </h1>
                    </td>
                </tr>
            </table>
          </div>      

            <div class="col-12 col-xl-12">
                <div class="table-responsive p-0">
                    <table class="table table-bordered table-striped align-items-center mb-0">
                        <thead>
                        <tr style="text-align:center; font-size:13px" class="table-primary">
                            <th scope="col">Documento</th>
                            <th scope="col">Sector o Vereda:</th>
                            <th scope="col">Finca</th>
                            <th scope="col">Teléfono:</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center; font-size:13px">
                                <td>{{ suscriber.document_type }} {{ invoice.suscriber.identification_number }}</td>
                                <td>{{ suscriber.sector_suscriber}}</td>
                                <td>{{ suscriber.name_farm }}</td>
                                <td>{{ suscriber.telephone }}</td>
                                
                            </tr>
                    </tbody>
                    </table>
                </div>
          </div>
        </div>
      <form role="form" method="post" id="add-shopping-detail-form">
      {% csrf_token %}
        <div class="row">     
          <div class="card-header pb-0 p-3">
                <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Agregar Información de pago:
                </h2>
          </div>
          <div class="col-12 col-xl-12">
            <div class="table-responsive p-0">
              <table class="table table-bordered align-items-center mb-0">
                  <thead>
                  <tr  style="text-align:center; font-size:13px" class="table-success">
                    
                    <th scope="col">Periodo Actual <br> (Bimensual)</th>
                    <th scope="col">Valor X Acción Mensual</th>
                    <th scope="col">Periodos Vencidos</th>
                    <th scope="col">Saldos Vencidos</th>
                    <th scope="col">Saldos pendientes <br> por Acciones</th>
                    <th scope="col">Pago Total</th>                      
                  </tr>
                  </thead>
                    <tbody >
                        <tr style="text-align:center; border:1px solid black; height=70px; font-size:13px">
                            
                            <td>{{ invoice.period_to_pay }} </td>
                            <td>{% for action in invoice.suscriber.affiliated_shares.all %}
                                {{ action.value_action }}
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>Pdte </td>
                            <td>Pdte </td>
                            <td>{{ invoice.pending_balance }} <br> </td>
                            <td>{{ invoice.total_amount }}</td>
                        </tr>
                </tbody>
                                  <tbody >
                      <tr>
                          <td>
                            <select class="form-select" name="product_id" required>
                              <option value="" selected disabled>Seleccione Producto</option>
                              {% for product in available_products %}
                                  <option value="{{ product.id }}">{{ product.name }}</option>
                              {% endfor %}
                            </select>
                          </td>
                          <td><input type="number" class="form-control" name="amount" placeholder="Cantidad"  required></td>
                          <td><input type="number" class="form-control" name="price" placeholder="Precio Unitario" required></td>
                          <td><input type="number" class="form-control" name="sub_total" placeholder="Sub Total" ></td>
                          <td><input type="number" class="form-control" name="discount" placeholder="Descuento" value="0"></td>
                          <td> <input type="number" class="form-control" name="total" placeholder="Total" ></td>
                          <td> <button type="submit" class="btn btn-primary">Agregar</button></td>                             
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
    </form>
        <div class="row">     
          <div class="card-header pb-0 p-3">
                <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Notas Importantes::
                </h2>
                <p style="text-align:center; border:1px solid black; font-size: 13px; font-family: 'Open Sans', sans-serif;"> 
                Éste recibo vence el 11 de Mayo. Luego de pasado 4 Meses sin cancelar se debe Suspender el servicio.
                <br>
                <b>Recuerde que cancelando el año anticipado tiene un descuento del valor de 1 Mes.</b>
          </div>
        </div>
    </div>
</div>



  

{% endblock %}
