{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TXNRP623');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
        <title>
            Sistema de Compras, Facturación e Inventarios
        </title>
        
        <meta name="description" content="Administración, inventarios, facturación, contol de caja, Sistema de compras, facturación e inventario">
        <meta name="author" content="Backend Developer - Dehibi Blandón">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="{% static 'home_page/assets/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'home_page/assets/css/landing-page.css' %}" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="{% static 'home_page/assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page2">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXNRP623"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="wrapper">
        {% block content_home %}

        {% endblock %}
    
        {% block content_footer %}{% endblock %}
        </div>
    </body>

    </html>
    