{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <title>
   Sistema de Compras, Facturación e Inventarios
  </title>

  <meta name="description" content="Administración, inventarios, facturación, contol de caja, Sistema de compras, facturación e inventario">
  <meta name="author" content="Backend Developer - Dehibi Blandón">

  <!--     Fonts and icons     -->
  
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link rel="stylesheet" href="{% static 'css/nucleo-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/nucleo-svg.css' %}">
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/f94186e8b8.js" crossorigin="anonymous"></script>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" rel="stylesheet" href="{% static 'css/material-dashboard.css' %}">
  <link id="pagestyle" rel="stylesheet" href="{% static 'css/data-tables.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <style>
    .sidenav-header {
      margin-bottom: 20px; /* Ajusta según el tamaño de la imagen */
    }

    .horizontal {
      margin-top: 10px; /* Ajusta este valor según el espacio deseado */
      margin-bottom: 0; /* Ajusta este valor según el espacio deseado */
    }

    .sidenav-header img {
      max-width: 100%;
      height: auto;
    }

    /* Flexbox para alinear la imagen y el texto */
    .sidenav-content {
      display: flex;
      align-items: center;
    }

    .sidenav-content img {
      margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto */
    }

    .sidenav-content p {
      margin: 0; /* Elimina el margen por defecto del <p> */
      color: aliceblue;
    }
  </style>
</head>
<body class="g-sidenav-show  bg-gray-200">

  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    {% include 'navbar_aside.html' %}
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      {% include 'navbar_main.html' %}
    </nav>
    <!-- End Navbar -->
    {% block content %}

    {% endblock %}
    <!-- <div class="fixed-plugin">
      {% include 'settings_ui.html' %}
    </div> -->
  </main>

  <!--   Core JS Files   -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
  <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/material-dashboard.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
   {% block javascript %}
   {% endblock %}
</body>

</html>