{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TXNRP623');</script>
            <!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
        <title>
            Sistema de Compras, Facturación e Inventarios
        </title>
        
        <meta name="description" content="Administración, inventarios, facturación, contol de caja, Sistema de compras, facturación e inventario">
        <meta name="author" content="Backend Developer - Dehibi Blandón">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="{% static 'home_page/assets/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'home_page/assets/css/landing-page.css' %}" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="{% static 'home_page/assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page2">
          <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXNRP623"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
         
                    <div class="buttons">
                        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">

                        <a href="{% url 'transversal:login' %}" class="btn btn-fill btn-neutral">
                            <i class="fa fa-user"></i> Iniciar Sesión
                        </a>
                    </div>
                    </button>
                    <a href="">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="/media/{{company_logo}}" alt="Logo {{company_name}}">
                            </div>
                            <div class="brand">
                                {{company_name}}
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <div class="buttons">
                                <a href="{% url 'transversal:login' %}" class="btn btn-fill btn-neutral">
                                    <i class="fa fa-user"></i> Iniciar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
        {% block content_home %}

        {% endblock %}
        
    </div>
    </body>

    </html>
    