      
    {% load static %}
    {% load l10n %}
    <div class="sidenav-header" style="margin-bottom: 20px;">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{% url 'transversal:dashboard'%} " >
        {% if user.is_authenticated %}
        <div class="sidenav-content">
          {% if company_logo %}
            <img src="{{ company_logo }}" alt="{{ company_name }}" width="60" height="60">
          {% endif %}
          <p class="ms-1 font-weight-bold">{{ company_name }}</p>            
        </div>
    {% endif %}
      </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary " href="{% url 'transversal:dashboard' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard Interactivo</span>
          </a>
        </li>
       <!-- Categoria de menú -->
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Registro de pagos</h6>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'payments:invoice_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Emitir Facturas masivas</span>
          </a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'payments:search_suscriber' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">search</i>
            </div>
            <span class="nav-link-text ms-1">Consultar o <br> Registrar Pago</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'transversal:suscribers_delinquent' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">screen_search_desktop</i>
            </div>
            <span class="nav-link-text ms-1">Clientes en Mora</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Suscriptores</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'transversal:suscriber_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">view_list</i>
            </div>
            <span class="nav-link-text ms-1">Listado de Suscriptores</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'inventory:service_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">build</i>
            </div>
            <span class="nav-link-text ms-1">Orden de mantenimiento</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Inventarios y Compras</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'inventory:provider_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">business</i>
            </div>
            <span class="nav-link-text ms-1">Proveedores</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'inventory:category_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">category</i>
            </div>
            <span class="nav-link-text ms-1">Categorías</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'inventory:product_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">view_in_ar</i>
            </div>
            <span class="nav-link-text ms-1">Productos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'inventory:shopping_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">storefront</i>
            </div>
            <span class="nav-link-text ms-1">Compras</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'inventory:inventory_list' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">inventory</i>
            </div>
            <span class="nav-link-text ms-1">Inventario</span>
          </a>
        </li>


      </ul>
    </div>
