<!-- En add_payment.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('{% static 'img/fondo-agua-paisaje.jpg' %}');">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row">
          <div class="card-header pb-0 p-3">
              <table style="width: 100%;">
                <tr>
                    <td style="width: 48%; vertical-align: top;">
                        <!-- Contenido de la columna izquierda -->
                        <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                            Registrar Pagos para: {{ suscriber.name_suscriber }} {{ suscriber.last_name_suscribe }}
                        </h2>
                    </td>
                    <td style="width: 48%; vertical-align: top; text-align: right;">
                        <!-- Contenido de la columna derecha -->
                        <h1 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                            Asociación de usuarios Colectivos Asobotapa
                        </h1>
                    </td>
                </tr>
            </table>
          </div>      

            <div class="col-12 col-xl-12">
                <div class="table-responsive p-0">
                    <table class="table table-bordered table-striped align-items-center mb-0">
                        <thead>
                        <tr style="text-align:center; font-size:13px" class="table-primary">
                            <th scope="col">Documento</th>
                            <th scope="col">Sector o Vereda:</th>
                            <th scope="col">Finca</th>
                            <th scope="col">Teléfono:</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center; font-size:13px">
                                <td>{{ suscriber.document_type }} {{ suscriber.identification_number }}</td>
                                <td>{{ suscriber.sector_suscriber}}</td>
                                <td>{{ suscriber.name_farm }}</td>
                                <td>{{ suscriber.telephone }}</td>
                                
                            </tr>
                    </tbody>
                    </table>                     
                    <div class="text-end mt-2">
                            <a href="{% url 'payments:view_invoice_list' suscriber.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                Historico Recibos <br> Emitidos
                            </a>
                            <a href="{% url 'payments:generate_invoice_pdf' suscriber.id %}" class="btn btn-secondary btn-circle me-2" role="button">
                                    Generar Recibo <br> Automatico Periodo
                            </a>
                            <a href="{% url 'payments:generate_invoice_pdf' suscriber.id %}" class="btn btn-info btn-circle me-2" role="button">
                                    Generar Recibo <br> Manual Extra Ordinario
                            </a>
                    </div>

                </div>
          </div>
        </div>
        <!--Contendor formulario recibo Manual-->
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Agregar Elementos a Recibo Manual </h6>
        </div>
        <form role="form" method="post" id="add-invoice-extra-form">
            {% csrf_token %}
            <input type="hidden" name="suscriber_id" value="{{ suscriber.id }}">
          <div class="col-12 col-xl-12">
            <div class="table-responsive p-0">
              <table class="table table-bordered align-items-center mb-0">
                  <thead>
                  <tr class="table-success">
                      <th>Periodo Actual</th>
                      <th>Descripción o Comentarios</th>
                      <th>Saldo a Cobrar</th>
                      <th>Total</th>
                      <th></th>                      
                  </tr>
                  </thead>
                  <tbody >
                      <tr>
                          <td><input type="text" class="form-control" name="period" placeholder="Periodo"  required></td>
                          <td><input type="text" class="form-control" name="description" placeholder="Comentarios" required></td>
                          <td> <input type="number" class="form-control" name="others_values" placeholder="Saldo" required></td>
                          <td> <input type="number" class="form-control" name="others_total" placeholder="Total" required></td>
                          <td> <button type="submit" class="btn btn-primary">Generar Recibo</button></td>                             
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </form>
        {% if invoices_pending %}
        <div class="row mt-4 mb-2" style="text-align: center;">
            <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1; display: inline-block;">
                Facturas por pagar: 
            </h2>
        </div>
        
            {% for invoice_details in invoices_pending %}
                <div class="row">     
                    <div class="card-header pb-0 p-3">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 48%; vertical-align: top;">
                                    <!-- Contenido de la columna izquierda -->
                                    <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                        Detalles de la factura: {{ invoice_details.id }}
                                    </h2>
                                </td>
                                <td style="width: 48%; vertical-align: top; text-align: right;">
                                    <!-- Contenido de la columna derecha -->
                                    <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                        Fecha de Emisión: {{ invoice_details.issuance_date }}
                                    </h2>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 col-xl-12">
                        <div class="table-responsive p-0">
                            <table class="table table-bordered align-items-center mb-0">
                                <thead>
                                <tr  style="text-align:center; font-size:13px" class="table-success">                    
                                    <th scope="col">Periodo a Pagar:</th>
                                    <th scope="col">Fecha de Vencimiento:</th>
                                    <th scope="col">Valor X Acción Mensual</th>
                    
                                    <th scope="col">Otros Conceptos <br> Pendientes</th>
                                    <th scope="col">Monto Total:</th>
                                    <th scope="col">Estado Factura</th>                    
                                </tr>
                                </thead>
                                    <tbody >
                                        <tr style="text-align:center; border:1px solid black; height=70px; font-size:13px">
                                            <td>{{ invoice_details.period_to_pay }}</td>
                                            <td>{{ invoice_details.expiration_date }}</td>
                                            <td>{% for action in invoice_details.suscriber.affiliated_shares.all %}
                                                    {{ action.value_action }}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                        </td>
                                            <td>{{ invoice_details.pending_balance }}</td>
                                            <td>{{ invoice_details.total_amount }} </td>                       
                                            <td>
                                                {% if invoice_details.payment_status %}
                                                    {% if invoice_details.payment_status == 'pending' %}
                                                        Pendiente
                                                    {% elif invoice_details.payment_status == 'paid' %}
                                                        Pagado
                                                    {% elif invoice_details.payment_status == 'expired' %}
                                                        Vencido
                                                    {% endif %}
                                                {% else %}
                                                    <!-- Manejo del caso en que last_payment_status es None -->
                                                    Sin Información
                                                {% endif %}
                                            </td>
                                        </tr>                      
                                </tbody>
                            </table>
                            <!-- Formulario para pagar la factura -->
                            <div class="text-center mt-4" style="display: flex; justify-content: center;">
                                <form id="payment-form-{{ invoice_details.id }}" method="POST" action="{% url 'payments:pay_invoice' invoice_details.id %}">
                                    {% csrf_token %}                                
                                    <button type="submit" class="btn btn-success btn-pagar" data-suscriptor-id="{{ suscriber.id }}"><span class="fa fa-save"></span> Pagar</button>  
                                </form>
                                <a href="{% url 'transversal:dashboard' %}" class="btn btn-secondary"><span class="fa fa-undo"></span> Volver</a>
                                <form id="cancelled-form-{{ invoice_details.id }}" method="POST" action="{% url 'payments:cancelled_invoice' invoice_details.id %}">
                                    {% csrf_token %}                                
                                    <button type="submit" class="btn btn-danger btn-anular" data-suscriptor-id="{{ suscriber.id }}"><span class="fa fa-ban"></span> Anular</button>  
                                </form>
                                <a href="{% url 'payments:print_invoice_extra' invoice_details.id %}" class="btn btn-warning"><span class="fa fa-download"></span> Generar PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}

        {% for invoice_details in invoices_expired %}
        <div class="row">     
            <div class="card-header pb-0 p-3">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 48%; vertical-align: top;">
                            <!-- Contenido de la columna izquierda -->
                            <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                Detalles de la factura: {{ invoice_details.id }}   
                            </h2>
                            {% if invoice_details.payment_status == 'expired' %}
                            <h2 style="font-size: 18px; color:red; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                 Factura vencida                            
                            </h2>
                            {% endif %}                            
                        </td>
                        <td style="width: 48%; vertical-align: top; text-align: right;">
                            <!-- Contenido de la columna derecha -->
                            <h2 style="font-size: 20px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                Fecha de Emisión: {{ invoice_details.issuance_date }}
                            </h2>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-xl-12">
                <div class="table-responsive p-0">
                    <table class="table table-bordered align-items-center mb-0">
                        <thead>
                        <tr  style="text-align:center; font-size:13px" class="table-success">                    
                            <th scope="col">Periodo a Pagar:</th>
                            <th scope="col">Fecha de Vencimiento:</th>
                            <th scope="col">Valor X Acción Mensual</th>
                            <th scope="col">Otros Conceptos <br> Pendientes</th>
                            <th scope="col">Monto Total:</th>
                            <th scope="col">Estado Factura</th>                    
                        </tr>
                        </thead>
                            <tbody >
                                <tr style="text-align:center; border:1px solid black; height=70px; font-size:13px">
                                    <td>{{ invoice_details.period_to_pay }}</td>
                                    <td>{{ invoice_details.expiration_date }}</td>
                                    <td>{% for action in invoice_details.suscriber.affiliated_shares.all %}
                                            {{ action.value_action }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ invoice_details.pending_balance }}</td>
                                    <td>{{ invoice_details.total_amount }} </td>                       
                                    <td>
                                        {% if invoice_details.payment_status %}
                                            {% if invoice_details.payment_status == 'pending' %}
                                                Pendiente
                                            {% elif invoice_details.payment_status == 'paid' %}
                                                Pagado

                                            {% elif invoice_details.payment_status == 'expired' %}
                                                Factura Vencida
                                            {% endif %}
                                        {% else %}
                                            <!-- Manejo del caso en que last_payment_status es None -->
                                            Sin Información
                                        {% endif %}
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                    <!-- Formulario para pagar la factura -->
                    <!-- Formulario para pagar la factura -->
                    <div class="text-center mt-4" style="display: flex; justify-content: center;">
                        <form id="payment-form-{{ invoice_details.id }}" method="POST" action="{% url 'payments:pay_invoice' invoice_details.id %}">
                            {% csrf_token %}                                
                            <button type="submit" class="btn btn-success btn-pagar" data-suscriptor-id="{{ suscriber.id }}"><span class="fa fa-save"></span> Pagar</button>  
                        </form>
                        <a href="{% url 'transversal:dashboard' %}" class="btn btn-secondary"><span class="fa fa-undo"></span> Volver</a>
                        <form id="cancelled-form-{{ invoice_details.id }}" method="POST" action="{% url 'payments:cancelled_invoice' invoice_details.id %}">
                            {% csrf_token %}                                
                            <button type="submit" class="btn btn-danger btn-anular" data-suscriptor-id="{{ suscriber.id }}"><span class="fa fa-ban"></span> Anular</button>  
                        </form>
                        <a href="{% url 'payments:print_invoice_extra' invoice_details.id %}" class="btn btn-warning"><span class="fa fa-download"></span> Generar PDF</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const btn_pagar = document.querySelectorAll(".btn-pagar");
        btn_pagar.forEach(btn => {
            btn.addEventListener('click', function(event) {
                event.preventDefault();
                const form = event.target.closest("form");
                const formData = new FormData(form);
                const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
                const actionUrl = form.action;
                // Realiza la solicitud AJAX
                fetch(actionUrl, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrf_token,
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire("Confirmación de pago realizada", "", "success")
                            .then(() => {
                                window.location.href = '{{ success_url }}';
                            });
                    } else {
                        Swal.fire("Error al aplicar el pago", data.message, "error");
                    }
                });
            });
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        const btn_pagar = document.querySelectorAll(".btn-anular");
        btn_pagar.forEach(btn => {
            btn.addEventListener('click', function(event) {
                event.preventDefault();
                const form = event.target.closest("form");
                const formData = new FormData(form);
                const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
                const actionUrl = form.action;
                // Realiza la solicitud AJAX
                fetch(actionUrl, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrf_token,
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire("Anulación de pago realizada, ve a historico de facturas para visualizarla", "", "success")
                            .then(() => {
                                window.location.href = '{{ success_url }}';
                            });
                    } else {
                        Swal.fire("Error al Anular factura", data.message, "error");
                    }
                });
            });
        });
    });
    $('#add-invoice-extra-form').submit(function(event) {
          event.preventDefault();
          // Serializar los datos del formulario
          var formData = $(this).serialize();
          // Enviar la solicitud AJAX
          $.ajax({
              type: 'POST',
              url: '/pagos/crear-recibo-extemporaneo/',
              data: formData,
              success: function(response) {
                if (response.success) {
                    Swal.fire("Se ha registrado el recibo", "", "success")
                        .then(() => {
                                window.location.href = '{{ success_url }}';
                    });
                } else {
                    Swal.fire("Error al Crear el recibo", data.message, "error");
                }
            }
        });
    });
</script>

{% endblock %}

