{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
    <title>Factura - {{ context1.suscriber.name_suscriber }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td style="width: 48%; vertical-align: top;">
                <h2 style="font-size: 15px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Recibo del Agua para: {{ context1.suscriber.name_suscriber }} {{ context1.suscriber.last_name_suscribe }}
                </h2>
                <p style="margin: 0;">Visita: <b>www.crmadmin360.com/inicio/empresa/1/</b></p>
            </td>
            <td style="width: 48%; vertical-align: top; text-align: right;">
                <h1 style="font-size: 17px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Asociación de usuarios Colectivos Asobotapa
                </h1>
            </td>
        </tr>
    </table>
    <hr>
    <!-- <h2>Información Usuario: </h2> -->
    <!-- Información del primer suscriptor -->
    <table class="table table-bordered">
        <thead>
            <tr>                
                <th scope="col">Sector o Vereda:</th>
                <th scope="col">Finca</th>
                <th scope="col">Teléfono:</th>
                <th scope="col">Documento generado el:</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align:center; font-size:13px">                
                <td>{{ context1.suscriber.sector_suscriber }}</td>
                <td>{{ context1.suscriber.name_farm }}</td>
                <td>{{ context1.suscriber.telephone }}</td>
                <td>{{ context1.date_now|date:"d/m/Y" }}</td>
            </tr>
        </tbody>
    </table> 

    <h2>Información de pago: </h2>
    <table class="table table-striped">    
        <thead >
            <tr>
                <th scope="col">Año</th>
                <th scope="col">Periodo Actual</th>
                <th scope="col">Valor Servicio por cada Acción Mensual</th>
                <th scope="col">Sub Total de Acciones por Periodos</th>
                <th scope="col">Periodos Vencidos</th>
                <th scope="col">Saldos Vencidos</th>
                <th scope="col">Otros Conceptos Pendientes</th>
                <th scope="col">Pago Total</th>
            </tr>
        </thead>
        <tbody>
            <tr style="margin-top: 6px; text-align:center; border:1px solid black; font-size:13px; padding: 5px;">
                <td>{{ context1.date_now.year }}</td>
                <td style="white-space: pre-line;">{{ context1.period_to_pay }}</td>
                <td>{{ context1.suscriber.monthly_value_to_pay }}</td>
                <td>{{ context1.service_rate }}</td>
                <td style="white-space: pre-line;">{% for expired_period in context1.expired_periods %}
                    {{ expired_period.period_to_pay }}<br>
                    {% endfor %}
                </td>
                <td>{{ context1.invoices_pending_total }}</td>
                <td>{{ context1.pending_balance }}</td>
                <td>{{ context1.total_amount }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Notas Importantes: </h2>
    <div style="text-align:center; border:1px solid black; font-size: 13px; font-family: 'Open Sans', sans-serif;"> 
        Éste recibo vence el {{ context1.expiration_date|date:"d/m/Y" }}. {{ context1.description }}.
        <br>
        {% if context1.expired_periods %}
            Los invitamos a realizar el pago de los periodos vencidos.
        {% endif %}
        <br>
        Cuidar la infraestructura del acueducto veredal es responsabilidad conjunta.
        <br>
        Consultas, Reportes o Sugerencias: <b>Tesorería:</b> 3146188027
    </div>
    <hr>
    <div style="margin-top: 5px; display: flex; justify-content: space-between; font-size: 13px; font-family: 'Open Sans', sans-serif;">
        <div style="flex: 1; text-align: left;">
            <p style="margin: 0;  text-align: center;">Software Desarrollado por <b>NET COMUNICACIONES ISP</b> empresa de la región para la región</p>
            <p style="margin: 0; text-align: center;"><b>Internet </b> para hogar finca y negocio, Cámaras de seguridad, Páginas web y Software</p>
            <p style="margin: 0; text-align: center;">3196436335 - 3013305635, www.netcomisp.com.co</p>
        </div>
    </div>

    <p style="text-align:center; margin:10px 0;">
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </p>
    <table style="width: 100%;">
        <tr>
            <td style="width: 48%; vertical-align: top;">
                <h2 style="font-size: 15px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Recibo del Agua para: {{ context2.suscriber.name_suscriber }} {{ context2.suscriber.last_name_suscribe }}
                </h2>
                <p style="margin: 0;">Visita: <b>www.crmadmin360.com/inicio/empresa/1/</b></p>
            </td>
            <td style="width: 48%; vertical-align: top; text-align: right;">
                <h1 style="font-size: 17px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                    Asociación de usuarios Colectivos Asobotapa
                </h1>
            </td>
        </tr>
    </table>
    <hr>
    <!-- Información del segundo suscriptor -->
    <!-- <h2>Información Usuario: </h2> -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Sector o Vereda:</th>
                <th scope="col">Finca</th>
                <th scope="col">Teléfono:</th>
                <th scope="col">Documento generado el:</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align:center; font-size:13px">
                <td>{{ context2.suscriber.sector_suscriber }}</td>
                <td>{{ context2.suscriber.name_farm }}</td>
                <td>{{ context2.suscriber.telephone }}</td>
                <td>{{ context2.date_now|date:"d/m/Y" }}</td>
            </tr>
        </tbody>
    </table> 

    <h2>Información de pago: </h2>
    <table class="table table-striped">    
        <thead>
            <tr>
                <th scope="col">Año</th>
                <th scope="col">Periodo Actual</th>
                <th scope="col">Valor Servicio por cada Acción Mensual</th>
                <th scope="col">Sub Total de Acciones por Periodos</th>
                <th scope="col">Periodos Vencidos</th>
                <th scope="col">Saldos Vencidos</th>
                <th scope="col">Otros Conceptos Pendientes</th>
                <th scope="col">Pago Total</th>
            </tr>
        </thead>
        <tbody>
            <tr style="margin-top: 6px; text-align:center; border:1px solid black; font-size:13px; padding: 5px;">
                <td>{{ context2.date_now.year }}</td>
                <td style="white-space: pre-line;">{{ context2.period_to_pay }}</td>
                <td>{{ context2.suscriber.monthly_value_to_pay }}</td>
                <td>{{ context2.service_rate }}</td>
                <td style="white-space: pre-line;">{% for expired_period in context2.expired_periods %}
                    {{ expired_period.period_to_pay }}<br>
                    {% endfor %}
                </td>
                <td>{{ context2.invoices_pending_total }}</td>
                <td>{{ context2.pending_balance }}</td>
                <td>{{ context2.total_amount }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Notas Importantes: </h2>
    <div style="text-align:center; border:1px solid black; font-size: 13px; font-family: 'Open Sans', sans-serif;"> 
        Éste recibo vence el {{ context2.expiration_date|date:"d/m/Y" }}. {{ context2.description }}.
        <br>
        {% if context2.expired_periods %}
            Los invitamos a realizar el pago de los periodos vencidos.
        {% endif %}
        <br>
        Cuidar la infraestructura del acueducto veredal es responsabilidad conjunta.
        <br>
        Consultas, Reportes o Sugerencias: <b>Tesorería:</b> 3146188027
    </div>
    <hr>
    <div style="margin-top: 5px; display: flex; justify-content: space-between; font-size: 13px; font-family: 'Open Sans', sans-serif;">
        <div style="flex: 1; text-align: left;">
            <p style="margin: 0;  text-align: center;">Software Desarrollado por <b>NET COMUNICACIONES ISP</b> empresa de la región para la región</p>
            <p style="margin: 0; text-align: center;"><b>Internet </b> para hogar finca y negocio, Cámaras de seguridad, Páginas web y Software</p>
            <p style="margin: 0; text-align: center;">3196436335 - 3013305635, www.netcomisp.com.co</p>
        </div>
    </div>
</body>
</html>

