{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('{% static 'img/fondo-agua-paisaje.jpg' %}');">
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row">
      <form role="form" method="post" id="add-shopping-detail-form">
      {% csrf_token %}
        <div class="row">
          <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Datos de la Compra </h6>
          </div>
          <div class="col-12 col-xl-12">
            <div class="table-responsive p-0">
                <table class="table table-bordered solid align-items-center mb-0">
                    <thead>
                    <tr class="table-primary">
                        <th>Id</th>
                        <th>Proveedor</th>
                        <th>Fecha Compra</th>
                        <th>Número Factura</th>
                        <th class="all">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="id_compra">{{ purchase.id }}</td>
                            <td>{{ purchase.supplier_asociate }}</td>
                            <td>{{ purchase.purchase_date }}</td>
                            <td>{{ purchase.number_invoice_provider }}</td>
                            <td>
                              <a href="{% url 'inventory:shopping_edit' purchase.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                <i class="far fa-edit"></i>
                              </a>
                              <form id="deleteForm" method="post" action="{% url 'inventory:shopping_delete' purchase.id %}">
                                  {% csrf_token %}
                                  <!-- Otros campos del formulario, si los hay -->
                                  <a id="btn_delete" type="submit" class="btn btn-danger btn-circle" data-target-delete="{% url 'inventory:shopping_delete' purchase.id %}">
                                      <i class="far fa-trash-alt"></i>
                                  </a>
                              </form>
                              <a href="{% url 'inventory:shopping_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Regresar</a>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        
          <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Agregar productos a la Compra </h6>
          </div>
          <div class="col-12 col-xl-12">
            <div class="table-responsive p-0">
              <table class="table table-bordered solid align-items-center mb-0">
                  <thead>
                  <tr class="table-success">
                      <th>Categoría</th>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Precio <br> Unitario</th>
                      <th>Sub Total</th>
                      <th>Descuento</th>
                      <th>Total</th>
                      
                  </tr>
                  </thead>
                  <tbody >
                      <tr>
                          <td>
                            <select id="category-select" name="category_id" class="form-select">
                              <option value="" selected disabled>Seleccione Categoría</option>
                              {% for category in categories %}
                                  <option value="{{ category.id }}">{{ category.name }}</option>
                              {% endfor %}
                          </select>
                          </td>
                          <td>
                            <select class="form-select" name="product_id" id="product-select" required>
                              <option value="" selected disabled>Seleccione Producto</option>
                              <!-- Aquí se añadirán los productos vía Ajax -->
                          </select>
                          </td>
                          <td><input type="number" class="form-control" name="amount" placeholder="Cantidad"  required></td>
                          <td><input type="number" class="form-control" name="price" placeholder="Precio Unitario" required></td>
                          <td><input type="number" class="form-control" name="sub_total" placeholder="Sub Total" ></td>
                          <td><input type="number" class="form-control" name="discount" placeholder="Descuento" value="0"></td>
                          <td> <input type="number" class="form-control" name="total" placeholder="Total" ></td>
                          <td> <button type="submit" class="btn btn-primary">Agregar</button></td>                             
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>    
        </div>
      </form>

      <!-- Tabla para mostrar los detalles de compra -->
      <div class="card-header pb-0 p-3">
        <h6 class="mb-0">Detalles de la Compra</h6>
      </div>
        <div id="shopping-detail-container" class="table-responsive p-0">
          <table class="table table-bordered solid align-items-center mb-0">
            <thead>
              <tr class="table-primary">
                <th scope="col">Categoría</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Descuento</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí se cargarán los detalles de compra -->
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
      // Obtener el ID de la compra de la URL
      var compra_id = obtenerIdCompra(); // Define esta función para obtener el ID de la compra de la URL
      loadShoppingDetails();
          // Escuchar los cambios en los campos de cantidad y precio unitario
      $('input[name="amount"], input[name="price"], input[name="discount"]').on('input', function() {
          // Obtener los valores de cantidad y precio unitario
          var cantidad = parseInt($('input[name="amount"]').val());
          var precioUnitario = parseInt($('input[name="price"]').val());
          var descuento = parseInt($('input[name="discount"]').val());
          // Calcular el subtotal
          var subTotal = cantidad * precioUnitario;
          var total = (descuento > 0) ? (subTotal - descuento) : subTotal;
          // Establecer el valor del subtotal y el total en los campos correspondientes
          $('input[name="sub_total"]').val(subTotal.toFixed()); 
          $('input[name="total"]').val(total.toFixed()); 
      });
      $('#category-select').change(function() {
            var categoryId = $(this).val();
            $.ajax({
                url: '/inventario/compras/filter-products/',  // Asegúrate de definir esta URL en urls.py
                data: {
                    'category_id': categoryId
                },
                success: function(response) {
                    var productSelect = $('#product-select');
                    productSelect.empty();
                    productSelect.append('<option value="" selected disabled>Seleccione Producto</option>');
                    $.each(response.products, function(index, product) {
                        productSelect.append('<option value="' + product.id + '">' + product.name + '</option>');
                    });
                }
            });
      });

      $('#add-shopping-detail-form').submit(function(event) {
          event.preventDefault();
          // Serializar los datos del formulario
          var formData = $(this).serialize();
          // Enviar la solicitud AJAX
          $.ajax({
              type: 'POST',
              url: '/inventario/compras/' + compra_id + '/agregar_detalle_compra/', // URL con el ID de la compra
              data: formData,
              success: function(response) {
                  if (response.success) {
                      // Limpiar el formulario después de agregar el detalle de compra
                      $('#add-shopping-detail-form')[0].reset();
                      // Recargar los detalles de compra
                      loadShoppingDetails();
                  }
              }
          });
      });
  // Función para cargar los detalles de compra
      function loadShoppingDetails() {
        $.ajax({
          type: 'GET',
          url: '/inventario/compras/obtener_detalles_compra/'+compra_id + '/',
          success: function(response) {
                // Limpiar el contenido actual del contenedor
                $('#shopping-detail-container tbody').empty();
                  // Inicializar la sumatoria total
                var totalCompra = 0;
                // Iterar sobre cada detalle de la compra en el JSON
                $.each(response, function(index, detalle) {
                  // Construir la fila HTML para el detalle de la compra
                  var row = '<tr>' +
                    '<td>' + detalle.categoria + '</td>' +
                    '<td>' + detalle.producto + '</td>' +
                    '<td>' + detalle.cantidad + '</td>' +
                    '<td>' + detalle.precio_unitario + '</td>' +
                    '<td>' + detalle.sub_total + '</td>' +
                    '<td>' + detalle.discount + '</td>' +
                    '<td>' + detalle.total + '</td>' +
                    '<td><a class="btn btn-danger btn-circle btn-delete-detail" data-detail-id="' + detalle.id + '"><i class="far fa-trash-alt"></i></a></td>' + 
                    '</tr>';
                  // Agregar la fila al cuerpo de la tabla
                  $('#shopping-detail-container tbody').append(row);
                  // Agregar el total del detalle a la sumatoria total
                    totalCompra += detalle.total;
                });
                // Agregar una fila adicional para mostrar la sumatoria total
                var totalRow = '<tr>' +
                    '<td colspan="6"><strong>Total Compra:</strong></td>' +
                    '<td>' + totalCompra + '</td>' +
                    '<td></td>' +
                    '</tr>';
                // Agregar la fila de total al final de la tabla
                $('#shopping-detail-container tbody').append(totalRow);
              }
        });
      }
      // Manejar el evento click del botón de eliminación
      $('#shopping-detail-container').on('click', '.btn-delete-detail', function() {
        var detailId = $(this).data('detail-id'); // Obtener el ID del detalle desde el atributo data
        eliminarDetalleCompra(detailId);
      });
      // Función para eliminar un detalle de compra
      function eliminarDetalleCompra(detailId) {
        $.ajax({
          type: 'POST',
          url: '/inventario/compras/eliminar_detalle_compra/' + detailId + '/', // URL con el ID del detalle
          data: {
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() // Agregar el token CSRF
          },
          success: function(response) {
            if (response.success) {
              // Recargar los detalles de compra después de eliminar el detalle
              loadShoppingDetails();
            } else {
              // Manejar errores si es necesario
            }
          }
        });
      }
      // Función para obtener el ID de la compra de la URL
      function obtenerIdCompra() {
          // Obtener el elemento en el DOM que contiene el ID de la compra
          var idCompraElement = document.getElementById('id_compra');

          // Verificar si el elemento existe y si tiene un valor
          if (idCompraElement && idCompraElement.textContent) {
              // Retornar el valor del ID de la compra
              return idCompraElement.textContent.trim();
          } else {
              // Si no se puede encontrar el ID de la compra, retornar un valor predeterminado o manejar el error según sea necesario
              return null;
          }
      }
  });
  document.addEventListener("DOMContentLoaded", function() {
      const btn_delete = document.querySelectorAll("#btn_delete")
      btn_delete.forEach(btn => {
        btn.addEventListener('click' , function(event){
          const data_target_delete = btn.getAttribute("data-target-delete")
          const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
          const fullUrl = `${window.location.origin}${data_target_delete}`;

          Swal.fire({
              title: "Está seguro de eliminar la Compra?",
              showDenyButton: true,
              showCancelButton: false,
              confirmButtonText: "Eliminar",
              denyButtonText: `Cancelar`
            }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                      // Realiza la solicitud AJAX
                      fetch(data_target_delete, {
                          method: 'DELETE',
                          headers: {
                              'X-CSRFToken': csrf_token,
                          },
                      })
                      .then(response => response.json())
                      .then(data => {
                          if (data.success) {
                              Swal.fire("Compra eliminada exitosamente", "", "success")
                                  .then(() => {
                                      window.location.href = '{{ success_url }}';
                                  });
                          } else {
                              Swal.fire("Error al eliminar la Compra", data.message, "error");
                          }
                      });
                  } else if (result.isDenied) {
                      Swal.fire("La Compra no fue Eliminada", "", "info");
                  }
            });
        })
      })
  });
</script>
{% endblock %}