{% extends 'base.html' %}

{% block content %}

{% comment %} <div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row">
      <form role="form" method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Datos personales</h6>
              </div>
              <div class="card-body p-3">
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Tipo de Documento</label>
                  <select name="document_type" class="form-control">
                    {% for choice in suscriber.DOCUMENT_TYPE_CHOICES %}
                      <option value="{{ choice.0 }}" {% if suscriber.document_type == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="">Documento</label>
                  <input type="text" name="identification_number" class="form-control" value="{{ suscriber.identification_number }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Nombre</label>
                  <input type="text" name="name_suscriber" class="form-control" value="{{ suscriber.name_suscriber }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Apellido</label>
                  <input type="text" name="last_name_suscribe" class="form-control" value="{{ suscriber.last_name_suscribe }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Teléfono</label>
                  <input type="text" name="telephone" class="form-control" value="{{ suscriber.telephone }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Cantidad de Habitantes Adultos</label>
                  <input type="text" name="count_adult_inhabitants" class="form-control" value="{{ suscriber.count_adult_inhabitants }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Cantidad de Habitantes Niños</label>
                  <input type="text" name="count_children_inhabitants" class="form-control" value="{{ suscriber.count_children_inhabitants }}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Información del Inmueble</h6>
              </div>
              <div class="card-body p-3">
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Sector</label>
                  <input type="text" name="sector_suscriber" class="form-control" value="{{ suscriber.sector_suscriber }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Nombre de Finca</label>
                  <input type="text" name="name_finca" class="form-control" value="{{ suscriber.name_finca }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Estrato</label>
                  <input type="text" name="estrato" class="form-control" value="{{ suscriber.estrato }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Tipo de Vivienda</label>
                  <input type="text" name="property_type" class="form-control" value="{{ suscriber.property_type }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Valor a pagar por la acción</label>
                  <input type="text" name="value_action_for_suscriber" class="form-control" value="{{ suscriber.value_action_for_suscriber }}">
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Cantidad de Cuotas de pago</label>
                  <input type="text" name="number_cuotes_for_payment" class="form-control" value="{{ suscriber.number_cuotes_for_payment }}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Registrar Usuario</button>
        </div>
      </form>
    </div>
  </div>
</div> {% endcomment %}

<div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row">
      <form role="form" method="post" >
      {% csrf_token %}
        <div class="row">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-0">{% if product %} Editar {% else %} Nuevo {% endif %} Inventario</h6>
            </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_document_type">Nombre</label>
                  <div class="input-group input-group-outline">
                      {{form.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Producto Asociado</label>
                  <div class="input-group input-group-outline">
                  {{form.product}}
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Existencias</label>
                  <div class="input-group input-group-outline">
                  {{form.current_existence}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
          <a href="{% url 'inventory:inventory_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}{% endblock %}