{% extends 'base.html' %}

{% block content %}

<div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row">
      <form role="form" method="post" >
      {% csrf_token %}
        <div class="row">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-0">{% if service %} Editar {% else %} Nueva {% endif %} Orden de Servicio</h6>
            </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_document_type">Nombre</label>
                  <div class="input-group input-group-outline">
                      {{form.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Suscriptor Asociado</label>
                  <div class="input-group input-group-outline">
                  {{form.suscriber_asociate}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Comentarios</label>
                  <div class="input-group input-group-outline">
                  {{form.comentary_service}}
                  </div>
                </div>
              </div>
            </div>
          </div>     
          <div class="col-12 col-xl-6">
              <div class="card card-plain h-100">
                <div class="card-body p-3">
                  <div class="mb-2 form-group">
                    <label for="id_sector_suscriber">Productos Usados</label>
                    <div class="input-group input-group-outline">
                    {{form.product_used}}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">        
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Tipo de Orden</label>
                  <div class="input-group input-group-outline">
                  {{form.type_service}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Estado de Orden</label>
                  <div class="input-group input-group-outline">
                  {{form.status_orders_service}}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
        
        <div class="text-center">
          <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
          <a href="{% url 'inventory:service_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}{% endblock %}