{% extends 'base.html' %}

{% block content %}
    <!-- Pantilla -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="text-white text-capitalize ps-3 mt-2">Listado de Ordenes de Servicio</h6>
                                </div>
                                <div class="col-3 d-flex justify-content-between align-items-center">
                                    <a href="{% url 'inventory:service_create' %}" class="btn btn-info btn-circle" role="button">
                                        <i class="far fa-new"></i>Registrar Nueva Orden
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not services %}
                    <div class="mt-2 p-2">
                        <p>No hay registro de Ordenes de servicio Creadas</p>
                    </div>
                    {% else %}
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table id="datatable" class="table align-items-center mb-0">
                                    <thead>
                                    <tr style="text-align:center; font-size:13px">
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Fecha Creada</th>
                                        <th>Fecha Cerrada</th>
                                        <th>Estado</th>
                                        <th class="all">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for service in services %}
                                        <tr style="text-align:center; font-size:13px">
                                            <td>{{ service.id }}</td>
                                            <td>{{ service.name }}</td>
                                            <td>{{ service.created_date }}</td> 
                                            <td>{{ service.close_date }}</td>
                                            <td>{{ service.get_status_orders_service_display }}</td>
                                            <td>                                             
                                                <div class="d-flex align-items-center justify-content-center">
                                                  <a href="{% url 'inventory:service_edit' service.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                                      <i class="far fa-edit"></i>
                                                  </a>

                                                  <form id="deleteForm" method="post" action="{% url 'inventory:service_delete' service.id %}">
                                                      {% csrf_token %}
                                                      <!-- Otros campos del formulario, si los hay -->
                                                      <a id="btn_delete" type="submit" class="btn btn-danger btn-circle" data-target-delete="{% url 'inventory:service_delete' service.id %}">
                                                          <i class="far fa-trash-alt"></i>
                                                      </a>
                                                  </form>
                                              </div>
                                          </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Inicializar DataTable
        var table = $('#datatable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "language": {
                "decimal": ",",
                "thousands": ".",
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        const btn_delete = document.querySelectorAll("#btn_delete")
        btn_delete.forEach(btn => {
          btn.addEventListener('click' , function(event){
            const data_target_delete = btn.getAttribute("data-target-delete")
            const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const fullUrl = `${window.location.origin}${data_target_delete}`;

            Swal.fire({
                title: "Está seguro de eliminar La Orden de servicio?",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "Eliminar",
                denyButtonText: `Cancelar`
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                        // Realiza la solicitud AJAX
                        fetch(data_target_delete, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': csrf_token,
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire("Orden de servicio eliminado exitosamente", "", "success")
                                    .then(() => {
                                        window.location.href = '{{ success_url }}';
                                    });
                            } else {
                                Swal.fire("Error al eliminar La Orden de servicio", data.message, "error");
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire("La Orden de servicio no fue Eliminado", "", "info");
                    }
              });
          })
        })
    });
</script>
{% endblock %}

