{% load i18n static %}<!DOCTYPE html>
<html>
<head>
    <title>Factura - {{ suscriber.name_suscriber }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
  
</head>
<body>
<table style="width: 100%;">
    <tr>
        <td style="width: 48%; vertical-align: top;">
            <!-- Contenido de la columna izquierda -->
            <h2 style="font-size: 15px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                Recibo del Agua para: {{ suscriber.name_suscriber }} {{ suscriber.last_name_suscribe }}
            </h2>
            <p style="margin: 0;">Visita: <b>www.crmadmin360.com/inicio/empresa/1/</b></p>
        </td>
        <td style="width: 48%; vertical-align: top; text-align: right;">
            <!-- Contenido de la columna derecha -->
            <h1 style="font-size: 17px; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                Asociación de usuarios Colectivos Asobotapa
            </h1>
            <!-- <div style="flex: 1; text-align: right;">
                <p style="margin: 0;">Ingresa al sitio web y conoce el sistema del acueducto</p>
                <p style="margin: 0;">www.crmadmin360.com/inicio/empresa/1/</p>
            </div> -->
        </td>
    </tr>
</table>
<hr>

<h2> Información Usuario: </h2>
<table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Sector o Vereda:</th>
                <th scope="col">Finca</th>
                <th scope="col">Teléfono:</th>
                <th scope="col">Documento <br>generado el:</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align:center; font-size:13px">
                
                <td>{{suscriber.sector_suscriber}}</td>
                <td>{{ suscriber.name_farm }}</td>
                <td>{{ suscriber.telephone }}</td>
                <td>{{ date_now|date:"d/m/Y" }}</td>
            </tr>
      </tbody>
    </table> 


    <!-- Add more details as needed -->
    <hr>
    <h2> Información de pago: </h2>
     <table class="table table-striped">    
        <thead>
            <tr>
                <th scope="col">Año</th>
                <th scope="col">Periodo Actual </th>
                <th scope="col">Valor Servicio <br> por cada <br> Acción </th>
                <th scope="col">Sub Total de <br> Acciones por Periodos <br>  </th>
                <th scope="col">Periodos Vencidos</th>
                <th scope="col">Saldos Vencidos</th>
                <th scope="col">Otros Conceptos Pendientes</th>
                <th scope="col">Pago Total</th>
            </tr>
        </thead>
        <tbody >
            <tr style="text-align:center; border:1px solid black; height=70px; font-size:13px">
                <td>{{ date_now.year }}</td>
                <td style="white-space: pre-line;">{{ period_to_pay }} </td>
                <td>{% for action in suscriber.affiliated_shares.all %}
                    {{ action.value_action }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ service_rate }}
                </td>
                <td style="white-space: pre-line;">{% for expired_period in expired_periods %}
                    {{ expired_period.period_to_pay }}<br>
                    {% endfor %}
                </td>
                <td> 
                    {{ invoices_pending_total }}
                </td>
                <td>{{ pending_balance }}</td>
                <td>{{ total_amount }}</td>
            </tr>
      </tbody>
    </table>
    <hr>
    <h2> Notas Importantes: </h2>
    <div style="text-align:center; border:1px solid black; font-size: 13px; font-family: 'Open Sans', sans-serif;"> 
        Éste recibo vence el {{ expiration_date|date:"d/m/Y" }}. {% if description %} {{ description }}. {% endif %}
        <br>
        {% if expired_periods %}
            Los invitamos a realizar el pago de los periodos vencidos.
        {% endif %}
        <br>
        Cuidar la infraestructura del acueducto veredal es responsabilidad conjunta.
        <br>
        Consultas, Reportes o Sugerencias: <b>Tesorería:</b> 3146188027
    </div>
    <hr>
    <div style="margin-top: 5px; display: flex; justify-content: space-between; font-size: 13px; font-family: 'Open Sans', sans-serif;">
        <div style="flex: 1; text-align: left;">
            <p style="margin: 0;  text-align: center;">Software Desarrollado por <b>NET COMUNICACIONES ISP</b> empresa de la región para la región</p>
            <p style="margin: 0; text-align: center;"><b>Internet </b> para hogar finca y negocio, Cámaras de seguridad, Páginas web y Software</p>
            <p style="margin: 0; text-align: center;">3196436335 - 3013305635, www.netcomisp.com.co</p>
        </div>
    </div>
</body>
</html>
