{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="text-white text-capitalize ps-3 mt-2">Registrar Pago para: {{ suscriber.name_suscriber }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if suscriber %}
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombres</th>
                                        <th>Documento</th>
                                        <th>Tarifa</th>
                                        <th>Cuotas Vencidas</th>
                                        <th>Valor</th>
                                        <th class="all">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody >

                                        <tr>
                                            <td>{{ suscriber.id }}</td>
                                            <td>{{ suscriber.name_suscriber }} <br> {{ suscriber.last_name_suscribe }}</td>
                                            <td>{{ suscriber.identification_number }}</td>
                                            <td>{{ suscriber.monthly_value_paid }}</td>
                                            <td>Cuotas</td>
                                            <td>total</td>                             
                                          <td >
                                              <div class="d-flex align-items-center">
                                                  <a href="{% url 'payments:register_payment' suscriber.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                                      Pagar
                                                  </a>
                                              </div>
                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                          

                    {% else %}
                    <div class="mt-2 p-2">
                        <p>No hay resultados, Verifique que esté bien escrito o dirigase al listado de suscritores para comprobar si esta creado <a class="btn btn-info btn-circle me-2" href="{% url 'transversal:suscriber_list' %}">Aqui</a></p>
                    </div>    
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>

    
{% endblock %}


    