{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="text-white text-capitalize ps-3 mt-2">Búsqueda por Suscriptor</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Form search-->
                    <form method="get">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="card card-plain h-100">
                                <div class="card-body p-3">
                                    <div class="mb-3 form-group">
                                    <label for="id_document_type">Cédula o Nombre</label>
                                    <div class="input-group input-group-outline">
                                        <input class="form-control" type="text" name="search_query" >
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="card card-plain h-100">
                                <div class="card-body p-3">
                                    <div class="mb-3 mt-2 form-group">
                                    <label for="id_document_type"></label>
                                    <div class="input-group input-group-outline">
                                        <button type="submit" class="btn btn-info"><span class="fa fa-search"></span> Buscar</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    </form> 

                    {% if suscribers %}
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombres</th>
                                        <th>Documento</th>
                                        <th>Tarifa</th>
                                        <th>Periodos <br> Vencidos</th>
                                        <th>Valor</th>
                                        <th>Estado Pago</th>
                                        <th class="all">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    {% for suscriber in suscribers %}
                                        <tr>
                                            <td>{{ suscriber.id }}</td>
                                            <td>{{ suscriber.name_suscriber }} <br> {{ suscriber.last_name_suscribe }}</td>
                                            <td>{{ suscriber.identification_number }}</td>
                                            <td>{{ suscriber.monthly_value_to_pay }}</td>
                                            <td>{{ suscriber.number_cuotes_for_payment}}</td>
                                            <td>{% if suscriber.last_invoice_amount %}
                                                {{ suscriber.last_invoice_amount}}
                                                {% else %}
                                                0
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if suscriber.last_payment_status %}
                                                    {% if suscriber.last_payment_status == 'pending' %}
                                                        Pendiente
                                                    {% elif suscriber.last_payment_status == 'paid' %}
                                                        Pagado
                                                    {% endif %}
                                                {% else %}
                                                    <!-- Manejo del caso en que last_payment_status es None -->
                                                    Sin Información
                                                {% endif %}
                                            </td>
                                          <td >
                                              <div class="d-flex align-items-center">
                                                  <a href="{% url 'payments:add_payment' suscriber.id %}" class="btn btn-info btn-circle me-2" role="button">
                                                      Pagar o <br> Generar <br> Factura
                                                  </a>
                                                    <a href="{% url 'payments:view_invoice_list' suscriber.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                                      Historico <br> Facturas <br> Emitidas
                                                  </a>
                                                 {% comment %} <a href="{% url 'payments:' suscriber.id %}" class="btn btn-danger btn-circle me-2" role="button">
                                                      Pagar <br> Anualidad 
                                                  </a> {% endcomment %}
                                              </div>
                                          </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                          

                {% else %}
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                    <p style="text-align: center">Busque el Suscriptor Deseado o compruebe que este creado en el listado: <a class="btn btn-success btn-circle me-2" href="{% url 'transversal:suscriber_list' %}">Aqui</a></p>
                </div> 
                </div>    
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
