{% extends 'base.html' %}

{% block content %}
    <!-- Pantilla -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="text-white text-capitalize ps-3 mt-2">Listado de Suscriptores que se encuentran en Mora</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not suscribers %}
                        <p>No hay Suscriptores</p>
                    {% else %}
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table id="datatable" class="table align-items-center mb-0">
                                    <thead>
                                    <tr style="text-align:center; font-size:13px">
                                        <th>Id</th>
                                        <th>Nombres</th>
                                        <th>Sector</th>
                                        <th>Nombre Finca</th>
                                        <th>Cantidad <br> Suscripciones</th>
                                        <th>Tarifa Mensual</th>
                                        <th>Estado Asociado</th>
                                        <th class="all">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for suscriber in suscribers %}
                                        <tr style="text-align:center; font-size:13px">
                                            <td >{{ suscriber.id }}</td>
                                            <td>{{ suscriber.name_suscriber }} {{ suscriber.last_name_suscribe }}</td>
                                            <td>{{ suscriber.sector_suscriber }}</td>
                                            <td>{{ suscriber.name_farm }}</td>
                                            <td>{% for action in suscriber.affiliated_shares.all %}
                                                {{ action.value_action }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            </td>
                                            <td>{{ suscriber.monthly_value_to_pay}}</td>
                                            <td>
                                                {% if suscriber.status %}
                                                    {% if suscriber.status == 'active' %}
                                                        Activo Vigente
                                                    {% elif suscriber.status == 'suspended' %}
                                                        Suspendido Mora
                                                    {% endif %}
                                                {% else %}                                                    
                                                    Sin Información
                                                {% endif %}
                                            </td>
                                          <td>
                                              <div class="d-flex align-items-center">
                                                  <a href="{% url 'payments:view_invoice_list' suscriber.id %}" class="btn btn-warning btn-circle me-2" role="button">
                                                    Ver <br> Facturas
                                                  </a>
                                                {% if suscriber.status %}
                                                  {% if suscriber.status == 'active' %}
                                                  <form id="deleteForm" method="post" action="{% url 'transversal:suspender_servicio' suscriber.id %}">
                                                      {% csrf_token %}
                                                      <!-- Otros campos del formulario, si los hay -->
                                                      <a id="btn_delete" type="submit" class="btn btn-danger btn-circle" data-target-delete="{% url 'transversal:suspender_servicio' suscriber.id %}">
                                                          Suspender<br> Suscriptor
                                                      </a>
                                                  </form>
                                                {% elif suscriber.status == 'suspended' %}
                                                <form id="enableForm" method="post" action="{% url 'transversal:habilitar_servicio' suscriber.id %}">
                                                    {% csrf_token %}
                                                    <!-- Otros campos del formulario, si los hay -->
                                                    <a id="btn_enable" type="submit" class="btn btn-info btn-circle" data-target-enable="{% url 'transversal:habilitar_servicio' suscriber.id %}">
                                                        Habilitar<br> Suscriptor
                                                    </a>
                                                </form>
                                                {% endif %}
                                                {% endif %}
                                              </div>
                                          </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Inicializar DataTable
        var table = $('#datatable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "language": {
                "decimal": ",",
                "thousands": ".",
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });

        // Agregar filtros individuales a cada columna
        $('#datatable thead tr:eq(1) th').each(function(i) {
            $('input', this).on('keyup change', function() {
                if (table.column(i).search() !== this.value) {
                    table.column(i).search(this.value).draw();
                }
            });
        });
        const btn_delete = document.querySelectorAll("#btn_delete")
        btn_delete.forEach(btn => {
          btn.addEventListener('click' , function(event){
            const data_target_delete = btn.getAttribute("data-target-delete")
            const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const fullUrl = `${window.location.origin}${data_target_delete}`;

            Swal.fire({
                title: "Está seguro de suspender Suscriptor?",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "Suspender",
                denyButtonText: `Cancelar`
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                        // Realiza la solicitud AJAX
                        fetch(data_target_delete, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrf_token,
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire("Suscriptor Suspendido exitosamente", "", "success")
                                    .then(() => {
                                        window.location.href = '{{ success_url }}';
                                    });
                            } else {
                                Swal.fire("Error al suspender el Suscriptor", data.message, "error");
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire("El suscriptor no fue suspendido", "", "info");
                    }
              });
          })
        })

        const btn_enable = document.querySelectorAll("#btn_enable")
        btn_enable.forEach(btn => {
          btn.addEventListener('click' , function(event){
            const data_target_enable = btn.getAttribute("data-target-enable")
            const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const fullUrl = `${window.location.origin}${data_target_enable}`;

            Swal.fire({
                title: "Está seguro de habilitar Suscriptor?",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "Habilitar",
                denyButtonText: `Cancelar`
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                        // Realiza la solicitud AJAX
                        fetch(data_target_enable, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrf_token,
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire("Suscriptor habilitado exitosamente", "", "success")
                                    .then(() => {
                                        window.location.href = '{{ success_url }}';
                                    });
                            } else {
                                Swal.fire("Error al habilitado el Suscriptor", data.message, "error");
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire("El suscriptor no fue habilitado", "", "info");
                    }
              });
          })
        })
    });
</script>
{% endblock %}

