{% extends 'base.html' %}

{% block content %}


<div class="container-fluid px-2 px-md-4">
  <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row">
      <form role="form" method="post" >
      {% csrf_token %}
        <div class="row">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-0">{% if suscriber %} Editar {% else %} Nuevo {% endif %} Suscriptor</h6>
            </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_document_type">Tipo de Documento</label>
                  <div class="input-group input-group-outline">
                      {{form.document_type}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_identification_number">Documento</label>
                  <div class="input-group input-group-outline ">
                    {{form.identification_number}}
                  </div>
                </div>
                <div class="mb-3 form-group">                
                  <label for="id_name_suscriber">Nombre</label>
                  <div class="input-group input-group-outline">
                    {{form.name_suscriber}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_last_name_suscribe">Apellido</label>
                  <div class="input-group input-group-outline">
                    {{form.last_name_suscribe}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_telephone">Teléfono</label>
                  <div class="input-group input-group-outline">
                    {{form.telephone}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_count_adult_inhabitants">Cantidad de Habitantes Adultos</label>
                  <div class="input-group input-group-outline">
                    {{form.count_adult_inhabitants}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_count_children_inhabitants">Cantidad de Habitantes Niños</label>
                  <div class="input-group input-group-outline">
                    {{form.count_children_inhabitants}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_estrato">Estrato</label>
                  <div class="input-group input-group-outline">
                  {{form.stratum}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_sector_suscriber">Sector</label>
                  <div class="input-group input-group-outline">
                    {{form.sector_suscriber}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_name_finca">Nombre de Finca</label>
                  <div class="input-group input-group-outline">
                    {{form.name_farm}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card card-plain h-100">
              <div class="card-body p-3">
                <div class="mb-3 form-group">
                  <label for="id_property_type">Costo Suscripción</label>
                  <div class="input-group input-group-outline">
                  {{form.cost_action}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_value_action_for_suscriber">Acciones Contratadas - Mensualidad basada en Acción</label>
                  <div class="input-group input-group-outline">
                    {{form.affiliated_shares}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_value_paid_for_action">Valor qué pagó de la acción al Suscribirse</label>
                  <div class="input-group input-group-outline">
                    {{form.value_paid_for_action}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_number_cuotes_for_payment">Cantidad de cuotas a diferir el Pago de la Acción</label>
                  <div class="input-group input-group-outline">
                    {{form.number_cuotes_for_payment}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_monthly_value_paid">Tarifa Mensual Servicio (Generado Automáticamente Segun el Tipo de Acción)</label>
                  <div class="input-group input-group-outline">
                    {{form.monthly_value_to_pay}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_monthly_value_paid">Saldo Pendiente por el Costo de Acción (Generado Automáticamente)</label>
                  <div class="input-group input-group-outline">
                    {{form.pending_balance}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_monthly_value_paid">Fecha de pago</label>
                  <div class="input-group input-group-outline">
                  {{form.last_payment_date}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_monthly_value_paid">Modalidad Facturación</label>
                  <div class="input-group input-group-outline">
                  {{form.mode_billing}}
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_monthly_value_paid">Estado</label>
                  <div class="input-group input-group-outline">
                  {{form.status}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
          <a href="{% url 'transversal:suscriber_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}