
/* Estilo para los bordes de las filas de la tabla */
#datatable tbody tr {
    border-bottom: 1px solid #f0f2f5;
}
#datatable thead th {
    border-bottom: 2px solid #f0f2f5;
}
.dataTables_wrapper{
    margin: 1% !important;
}
#datatable thead tr {
    text-align:center;
    font-size:13px
}
#datatable tbody tr {
    text-align:center; 
    font-size:13px
}
.all div {
    justify-content:center !important;
}

