<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"es" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <title>
    Iniciar Sesión en Sistema | Sistema de Compras, Faturación e Inventarios
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="{% static '/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static '/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static '/css/material-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="bg-gray-200">

  <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100" style="background-image: url('{% static 'img/montannas-demo.jpg' %}');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                  <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Iniciar Sesión</h4>

                </div>
              </div>
              <div class="card-body">
                <form method="post" role="form" class="text-start">
                  {% csrf_token %}
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">Usuario</label>
                      <input type="text" name="username" id="id_username" class="form-control" required>
                    </div>
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">Contraseña</label>
                      <input type="password" name="password" id="id_password" class="form-control" required>
                    </div>     
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Iniciar Sesión</button>
                    </div>
                  <p class="mt-4 text-sm text-center">
                    ¿No tiene Cuenta?
                    <br>
                    <a href="https://api.whatsapp.com/send/?phone=+573196436335&text=Estoy interesado en el software de gestión administrativa" class="text-primary text-gradient font-weight-bold">Solicitar Cuenta Demostrativa</a>
                  </p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--   Core JS Files   -->
  <script src="{% static "/js/core/popper.min.js" %}"></script>
  <script src="{% static "/js/core/bootstrap.min.js" %}"></script>
  <script src="{% static "/js/plugins/perfect-scrollbar.min.js" %}"></script>
  <script src="{% static "/js/plugins/smooth-scrollbar.min.js" %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static "/js/material-dashboard.min.js" %}"></script>
</body>

</html>